name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: mkdir build
      run: mkdir build
    - name: cd build
      run: cd build
    - name: cmake ../rlottie
      run: cmake ../rlottie
    - name: make -j
      run: make -j
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: artifact
        path: .
        include-hidden-files: true
          
